body {
  font-family: 'Poppins', sans-serif;
}
/* wrapper */
.wrapper_small {
  max-width: 700px;
  margin: auto;
}

/* divider */
.divider_star {
  font-size: 35px;
  margin: 15px 0;
}
.divider_star::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 100px;
  background-color: #fff;
  border-radius: 3px;
}

.divider_star::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 100px;
  background-color: #fff;
  border-radius: 3px;
}

.divider_star.divider_star_dark::before, .divider_star.divider_star_dark::after {
  background-color: #2C3E50;
}

/* background */
.background_green {
  background-color: #1ABC9C
}

/* img */
.img_portfolio{
  max-width: 100%;
  border-radius: 5px;
}

/* text */
.txt_center {
  text-align: center;
}

/* fonts */
.font_600 {
  font-weight: 600;
}

.font_sz_50 {
  font-size: 3.12rem;
}

.font_color_white {
  color: #fff;
}

.font_color_blue {
  color: #2c3e50
}

.upper {
  text-transform: uppercase;
}

.linehgt_70 {
  line-height: 70px;
}

/* margin */
.margin_15_0 {
  margin: 15px 0;
}

.margin_right_15 {
  margin-right: 15px;
}

.margin_top_100 {
  margin-top: 100px;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}

/* padding */
.padding_25_0 {
  padding: 25px 0;
}


/* HEADER TOP */

.navbar-fixed-top {
    background-color: #2c3e50;
    height: 100px;
}

.navbar-right {
  margin: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #1ABC9C;
}

.menu_hamburger {
  display: inline-block;
}

/* header centre */

.jumbotron img {
  max-width: 250px;
}

/* main portfolio */

#main_porfolio .hr_divider {
  border: 2px solid #2c3e50;
}

/* responsive */

@media screen and (max-width:767px) {
  /* header */
  #header_top h2 {
    font-size: 1.5rem;
    margin-left: 20px;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
  }
}
