.debug_green {
  background-color: green;

}

.debug_pink {
  background-color: pink;
}

.debug_red {
  background-color: red;
}

.wrapper_small {
  max-width: 700px;
}

.txt_center {
  text-align: center;
}
