body {
  font-family: 'Poppins', sans-serif;
}
/* wrapper */
.wrapper_small {
  max-width: 700px;
  margin: auto;
}

/* divider */
.divider_star {
  font-size: 35px;
  margin: 15px 0;
}
.divider_star::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 100px;
  background-color: #fff;
  border-radius: 3px;
}

.divider_star::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 100px;
  background-color: #fff;
  border-radius: 3px;
}

.divider_star.divider_star_dark::before, .divider_star.divider_star_dark::after {
  background-color: #2C3E50;
}

/* background */
.background_green {
  background-color: #1ABC9C
}

/* img */
.img_portfolio{
  width: 100%;
}

/* text */
.txt_center {
  text-align: center;
}

/* fonts */
.font_600 {
  font-weight: 600;
}

.font_sz_50 {
  font-size: 3.12rem;
}

.font_color_white {
  color: #fff;
}

.font_color_blue {
  color: #2c3e50
}

.upper {
  text-transform: uppercase;
}

.linehgt_70 {
  line-height: 70px;
}

/* margin */
.margin_15_0 {
  margin: 15px 0;
}

.margin_right_15 {
  margin-right: 15px;
}

.margin_top_100 {
  margin-top: 100px;
}

.margin_bottom_100 {
  margin-bottom: 100px;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}


/* padding */
.padding_25_0 {
  padding: 25px 0;
}

.padding_bottom_20 {
  padding-bottom: 20px;
}

.padding_bottom_50 {
  padding-bottom: 50px;
}

/* btn */
.button_send {
  height: 60px;
  width: 100px;
  padding: 8px 12px;
  color: #fff;
  border:none;
  border-radius: 5px;
}


/* layer */
.box_portfolio {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.layer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 188, 156, 0.9);
}

.layer i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 70px;
  font-weight: bold;
}

.box_portfolio:hover .layer {
  display: block;
  cursor: pointer;
}


/* HEADER TOP */

.navbar-fixed-top {
  background-color: #2c3e50;
  height: 100px;
}

.navbar-right {
  margin: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #1ABC9C;
}

.menu_hamburger {
  display: inline-block;
}

/* HEADER CENTRE */

.jumbotron img {
  max-width: 250px;
}

/* MAIN PORTFOLIO */

#main_porfolio .hr_divider {
  border: 2px solid #2c3e50;
}

/* ABOUT */

.btn_free_download {
  background: transparent;
  border: 2px solid #fff;
  padding: 12px 30px;
}

.btn.focus, .btn:focus, .btn:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
}

/* CONTACT ME */
.contactme_form {
  text-align: left;
}

.form-control {
  border: hidden;
  font-size: 2.2rem;
}

/* FOOTER TOP */
 #footer_top {
  background-color: #2c3e50;
}

#footer_top h3 {
  font-weight: bold;
}

 #footer_top div > a {
  color: #1ABC9C;
  font-size: 1.8rem;
}

 .footer_social {
  list-style: none;
  padding-left: 0;
}

 .footer_social li {
  display: inline-block;
  margin-right: 15px;
}

 .footer_social li a {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 18px;
}

.footer_social li a:hover {
  background-color: #fff;
  color: #000;
}

.footer_social li:last-child {
  margin-right: 0;
}


 /* FOOTER BOTTOM */
 #footer_bottom {
  background-color: #1A252F;
  padding: 25px 0;
}


/* responsive */

@media screen and (max-width:767px) {
  /* header */
  #header_top h2 {
    font-size: 1.5rem;
    margin-left: 20px;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
  }
}
